@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
}


/*----------------------------------------------------------------Header*/
.header__navbar {
    display: inline-block;
}

.hero-image {
    background: url(../images/hero-waffle.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
    width: 80%;
}
.logo {
    background: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 10rem;
    min-width: 10rem;
}






/*----------------------------------------------------------------Footer*/

.social-links {
    text-align: center;
    word-spacing: 2rem;
}

.social-icons {
    font-size: 3rem;    
}

.social-icons a i {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 25%;
    color: #4e598c;
    background: rgba(189, 186, 186, 0.5);
    padding-top: 5px;
}

.social-icons a i:focus {
    color: #f42b03;
    outline: none;
}

.social-icons a i:hover {
    color: #f42b03;
}


/*----------------------------------------------------------------@media querries*/

@media(max-width: 920px) {
    .social-icons a i {
        height: 2.3rem;
        width: 2.3rem;
    }
}

@media(max-width: 920px) {
    .social-icons {
        font-size: 1.8rem;
    }
}
