@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
    font-size: 1.6rem;
}

.my-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 4rem;
}

.header-icon {
    color:#ec7505;
    font-size: 4rem;
}


/* Header */


.logo {
    max-width: 100%;
    height: auto;
}

.hero-waffle {
    width: 100%;
    height: auto;
}

#hero-image {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    padding-top: 97px;
}

.welcome {
    position: absolute;
    width:100%;
    bottom: 10px;
    background-color: rgba(0,0,0,.3);
}

.hero-header {
    color: #fafafa;
    font-size: 200%;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.navbar-light {
    background-color: #fafafa;
}

.navbar-light .navbar-toggler {
    border-color: #000;
}

.navbar-light .navbar-toggler:focus {
    border-color: #ec7505;
}


/* About */


.about-container {
    padding-top: 89px;
    margin-bottom: 35px;
}

.about-img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-list li {
    background-color: #fafafa;
    border: none;
}

.list-item {
    font-size: 2.8rem;
    font-weight: 600;
}

.list-type {
    font-size: 4rem;
    font-weight: 600;
}

.right-list {
    text-align: right;
}

.sm-list {
    text-align: center;
}

.about-list li h4:hover {
    color:#ec7505;
    cursor: default;
}


/* Gallery */

.gallery-container {
    padding-top: 89px;
    margin-bottom: 35px;
}

/* Locations */


.locations-container {
    padding-top: 89px;
    margin-bottom: 50px;
}

.img-locations {
    max-width: 100%;
    max-height: 200px;
    border-radius: 17%;
    padding-top: 15px;
}

.loc-name {
    font-weight: 600;
    font-size: 2.8rem;
}

.loc-address {
    font-size: 2rem;
}

.loc-time {
    font-size: 2rem;
}

.location-div {
    text-align: center;
    padding-bottom: 30px;
}


/* Reviews */


.blockquote-footer {
    font-size: 2rem;
}

.quote {
    font-size: 2rem;
    font-weight: 600;
}

/* Footer */

.footer-container {
    margin-top: 35px;
    margin-bottom: 20px;
}

.social-links {
    text-align: center;
    word-spacing: 2rem;
}

.social-icons {
    font-size: 3rem;    
}

/* taken from whiskey landing page module at CI*/
.social-icons a i {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 25%;
    color: #4e598c;
    background: rgba(189, 186, 186, 0.5);
    padding-top: 5px;
}
/*-------------------------------*/

.social-icons a i:focus {
    color: #ec7505;
    outline: none;
}

.social-icons a i:hover {
    color: #ec7505;
}


/* Buttons */

.my-btn {
    background-color:#ec7505;
    color: #fafafa;
    font-weight: 600;
    font-size: 1.6rem;
}

.my-btn:hover {
    color: #fafafa;
    background-color: #4e598c;
}

.nav-btn {
    padding: 8px;
    border: 0;
    color: rgba(0,0,0,.5);
    font-size: 1.6rem;
    margin: -2px;
}

.nav-btn:hover {
    color: rgba(0,0,0,.7);
    box-shadow: none;
}

.nav-btn:focus {
    box-shadow: none;
}


/* Modal */

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 600;
}

.form-control {
    font-size: 1.6rem;
}



/* @media querries */

/* @media Header */


@media(max-width: 320px) {
    .logo {
        max-width: 70%;
        height: auto;
    }
}

@media(max-width: 767px) {
    .nav-btn {
        padding: 8px 0;
    }
}

/* Footer */
@media(max-width: 920px) {
    .social-icons a i {
        height: 2.3rem;
        width: 2.3rem;
    }
    .social-icons {
        font-size: 1.8rem;
    }
}