@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
}


/*----------------------------------------------------------------Header*/
.header__navbar {
    display: inline-block;
}







/*----------------------------------------------------------------Footer*/