@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
    font-size: 16px;
}

.my-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: bold;
}

.my-header i {
    color:#ec7505;
    font-size: 3rem;
}

/* Header */


.logo {
    max-width: 100%;
    height: auto;
}

.hero-waffle {
    width: 100%;
    max-height: 500px;
}

#hero-image {
    padding-right: 0;
    padding-left: 0;
}


/* About */


.about-container {
    margin-bottom: 35px;
}

.about-img {
    border-radius: 17%;
    max-width: 120%;
    height: auto;
    background-size: cover;
}

.about-list li {
    background-color: #fafafa;
    border: none;
}

.list-group-item h4, h3 {
    font-weight: bold;
}

.right-list {
    text-align: right;
}

.sm-list {
    text-align: center;
}

.about-list li h4:hover {
    color:#ec7505;
}


/* Locations */


.locations-container {
    margin-bottom: 50px;
}

.img-locations {
    max-width: 100%;
    max-height: 200px;
    border-radius: 17%;
    padding-top: 15px;
}

#locations h4 {
    font-weight: bold;
}

.location-div {
    text-align: center;
    padding-bottom: 30px;
}


/* Reviews */


.reviews-container p {
    font-size: 20px;
    font-weight: bold;
}


/* Footer */


.social-links {
    text-align: center;
    word-spacing: 2rem;
}

.social-icons {
    font-size: 3rem;    
}

/* taken from whiskey landing page module at CI*/
.social-icons a i {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 25%;
    color: #4e598c;
    background: rgba(189, 186, 186, 0.5);
    padding-top: 5px;
}
/*-------------------------------*/

.social-icons a i:focus {
    color: #ec7505;
    outline: none;
}

.social-icons a i:hover {
    color: #ec7505;
}


/* Gallery */

/* taken from I love running module in CSS fundamentals */ 
#photos {
    column-count: 2;
    column-gap: 0;
/*--------------------*/    
    padding-bottom: 35px;
    margin-bottom: 25px;
}


/* Modal */

.my-btn {
    background-color:#ec7505;
    color: #fafafa;
    font-weight: bold;
}


/* @media querries */

/* @media Header */


@media(max-width: 320px) {
    .logo {
        max-width: 70%;
        height: auto;
    }
}

/* Footer */
@media(max-width: 920px) {
    .social-icons a i {
        height: 2.3rem;
        width: 2.3rem;
    }
}

@media(max-width: 920px) {
    .social-icons {
        font-size: 1.8rem;
    }
}
